* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #ffffff;
    /* رنگ پس‌زمینه لایت */
    --text-color: #000000;
    --data-grid-th: #b4b2b2;
    /* رنگ متن لایت */
    --thead-color: #ae00ff;
    --th-hover: blue;
}

[data-theme='dark'] {
    --background-color: #000000;
    /* رنگ پس‌زمینه دارک */
    --text-color: #ffffff;
    /* رنگ متن دارک */
    --data-grid-th: #555555;
    /* رنگ متن لایت */
    --thead-color: rgb(106, 182, 245);
    --th-hover: rgb(168, 168, 221);
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.table-container {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
}

#searchInput {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
}

.data-grid {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.data-Grid th,
.data-Grid td {
    padding: 12px 15px;
    text-align: left;
    cursor: pointer;
}

.data-Grid thead {
    background-color: var(--thead-color);
    color: var(--text-color);
}

.data-Grid tbody tr:nth-child(even) {
    background-color: var(--data-grid-th);
    color: var(--text-color);
}

.data-Grid tbody tr {
    color: var(--text-color);
}

.data-Grid tbody tr:hover {
    background-color: var(--th-hover);

}